@import '../variable';

* {
   margin: 0;
   padding: 0;
   border: 0;
   //font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   user-select: none;
}
//
//html {
//   font-size: 62.5%;
//   height: 100%;
//}

body {
   //font-size: 1.6rem;
   height: 100%;

   &:active::-webkit-scrollbar-thumb,
   &:focus::-webkit-scrollbar-thumb,
   &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
   }
   &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      visibility: hidden;
   }

   &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
   }
   &:active::-webkit-scrollbar-thumb,
   &:focus::-webkit-scrollbar-thumb,
   &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
   }
   &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      visibility: hidden;
   }

   &::-webkit-scrollbar {
      width: 6px;
      height: 4px;
   }
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.ant-tabs-tab-btn{
   font-size: 0.75rem;
   font-weight: 600;
   color: #64748b;
}
.ant-tabs-nav::before{
   display: none;
}
.call{
   .ant-modal-content{
      padding: 0;
   }
}